<RuleSet Name="Microsoft.Analyzers.ManagedCodeAnalysis" Description="Microsoft.Analyzers.ManagedCodeAnalysis" ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="AD0001" Action="None" /> <!-- Analyzer threw an exception -->
    <Rule Id="SA0001" Action="None" /> <!-- XML comments -->
    <Rule Id="SA1101" Action="None" /> <!-- Prefix local calls with this -->
	<Rule Id="SA1108" Action="None" /> <!-- Block statements should not contain embedded comments -->
	<Rule Id="SA1200" Action="None" /> <!-- Using directive should appear within a namespace declaration -->
    <Rule Id="SA1201" Action="None" /> <!-- Elements should appear in the correct order -->
    <Rule Id="SA1202" Action="None" /> <!-- Elements should be ordered by access -->
    <Rule Id="SA1210" Action="None" /> <!-- Using directives should be ordered alphabetically by the namespaces -->
    <Rule Id="SA1306" Action="None" /> <!-- Field should begin with lower-case letter -->
    <Rule Id="SA1308" Action="None" /> <!-- Field should not begin with the prefix 's_' -->
    <Rule Id="SA1309" Action="None" /> <!-- Field names should not begin with underscore -->
    <Rule Id="SA1311" Action="None" /> <!-- Static readonly fields should begin with upper-case letter -->
	<Rule Id="SA1312" Action="None" /> <!-- Variable should begin with lower-case letter -->
	<Rule Id="SA1413" Action="None" /> <!-- Use trailing comma in multi-line initializers -->
    <Rule Id="SA1503" Action="None" /> <!-- Braces should not be omitted -->
    <Rule Id="SA1513" Action="None" /> <!-- Closing brace should be followed by blank line -->
    <Rule Id="SA1520" Action="None" /> <!-- Use braces consistently -->
    <Rule Id="SA1600" Action="None" /> <!-- Elements should be documented -->
    <Rule Id="SA1601" Action="None" /> <!-- Partial elements should be documented -->
    <Rule Id="SA1602" Action="None" /> <!-- Enumeration items should be documented -->
    <Rule Id="SA1633" Action="None" /> <!-- File should have header -->
  </Rules>
</RuleSet>
